.question {
    border: 1px solid black;
    border-radius: 10px;
    height: 100%;
    margin: 5px 0;
    padding: 5px;
    width: 95%;
}
.answers {
    display: none;
}
.col-4 {
    display:inline-block;
    min-height: 100%;
    width: 32%;
    min-width: 15%;
    vertical-align: top;
}
.show {
    display: block;
}
.hidden {
    display:none;
}